.benefit-item {
    text-align: center;

    &__img {
        display: inline-block; // элемент располагается как строка текста
        margin-bottom: 15px;

        circle {
            fill: #58BEBF;
            fill-opacity: 0.2;
        }

        path, ellipse {
            fill: #58BEBF;
        }
    }

    &:hover .benefit-item__img {
        circle {
            fill: #F78434;
            fill-opacity: 1;
            transition: fill 0.3s ease-in;
        }

        path, ellipse {
            fill: #fff;
            transition: fill 0.3s ease-in;
        }
    }
}

.benefit-item__title {
    margin-bottom: 2px;
    font-size: 28px;
}